body {
    background-color: #eaf0f6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Default font */
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #507687;
}

.navbar .logo h1 {
    color: orange;
    font-size: 28px;
}

.navbar nav ul {
    list-style: none;
    display: flex;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CDFADB;
}

.contact-form {
    background-color: #E1AFD1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-right: 50px;
}

.contact-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    background-color: #9BCF53;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #008bcc;
}

.contact-image img {
    width: 300px;
    height: auto;
}
.contact-image img {
    width: 500px;
    height: 500px;
}
footer {
    background-color: #507687;
    color: white;
    padding: 40px 20px;
    margin-top: 0;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    margin: 0;
}
